* {
  max-width: 100%;
  text-decoration: none;
  list-style: none;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2A2E3C;
  color: #F3F3F3;
  font-family: "Nunito", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 40px;
  color: #78D2F9;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
}

.action-btn {
  background-color: #78D2F9;
  color: #2A2E3C;
  border: 2px solid #78D2F9;
}

.action-btn:hover {
  background-color: #F3F3F3;
  color: #2A2E3C;
  border: 2px solid #F3F3F3;
}

.normal-btn {
  background-color: #2A2E3C;
  color: #F3F3F3;
  border: 2px solid #78D2F9;
}

.normal-btn:hover {
  border: 2px solid #F3F3F3;
}

/* Components */
.blue {
  width: 100%;
  height: 30px;
  background-color: #78D2F9;
}

header {
  height: 100px;
  padding: 10px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header .logo {
  transition: transform 0.3s;
  filter: drop-shadow(0 0 20px black);
}
header .logo:hover {
  transform: scale(1.1);
}
header .dir {
  display: flex;
}
header .dir > a {
  color: #F3F3F3;
  letter-spacing: 0.5px;
  text-shadow: 0px 0px 10px black;
  font-weight: 600;
  font-size: 18px;
  margin: 0px 15px;
  transition: transform 0.3s;
}
header .dir > a p:hover {
  color: #78D2F9;
}
header .social {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header .social a {
  height: 35px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}
header .social a:hover > img {
  filter: drop-shadow(0 0 5px #78D2F9) brightness(105%) saturate(105%);
}

.presentation {
  max-width: 80%;
  margin: 10% 10%;
}
.presentation h2 {
  font-size: 50px;
  font-weight: 200;
  margin: 0px;
  text-shadow: 0px 0px 20px black;
}
.presentation h2 b {
  font-weight: 800;
}
.presentation h3 {
  color: #78D2F9;
  font-size: 40px;
  font-weight: 200;
  margin-top: -10px;
}
.presentation h3 b {
  font-weight: 800;
}
.presentation h3 i {
  font-weight: 500;
}
.presentation p {
  font-size: 28px;
  font-weight: 100;
}
.presentation div {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.skillset {
  max-width: 80%;
  margin: auto;
}
.skillset section {
  display: flex;
  flex-wrap: wrap;
}
.skillset section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  white-space: no-wrap;
  display: flex;
  padding: 10px 20px;
  margin: 5px;
  white-space: wrap;
  background-color: rgba(158, 158, 158, 0.3411764706);
  border: 1px solid #9e9e9e;
  color: #F3F3F3;
  border-radius: 8px;
}
.skillset section div img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: drop-shadow(0 0 5px #2A2E3C);
  margin-bottom: 10px;
}
.skillset .multiple-logos {
  display: block;
}
.skillset .multiple-logos section {
  display: flex;
  flex-direction: row;
}
.skillset .multiple-logos img {
  width: 35px;
  height: 35px;
  margin: 3px;
}

.projects {
  width: 80%;
  margin: 100px auto;
}
.projects .project-card {
  margin: 20px auto;
  height: 300px;
  border: 1px solid #3E3F4A;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.projects .project-card .progect-img {
  width: 50%;
  background-color: #3E3F4A;
  border-radius: 5px 0px 0px 5px;
  overflow: hidden;
}
.projects .project-card .project-description {
  margin-bottom: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects .project-card .project-description .logos {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.projects .project-card .project-description .logos img {
  width: 30px;
  height: 30px;
}
.projects .project-card .project-description .logos img:hover {
  filter: drop-shadow(0 0 5px #78D2F9) brightness(105%) saturate(105%);
}
.projects .project-card .project-description h2 {
  font-weight: 400;
}
.projects .project-card .project-description h2:hover {
  opacity: 0.5;
}
.projects .project-card .project-description p {
  font-size: 14px;
  opacity: 0.5;
}
.projects .project-card .project-description span {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  letter-spacing: 1px;
  white-space: nowrap;
  padding: 3px;
  border: 1px solid #3E3F4A;
  border-radius: 7px;
  padding: 5px 8px;
}

footer {
  margin-top: 50px;
  background-color: #3E3F4A;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer div {
  background-color: #78D2F9;
  color: #2A2E3C;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}/*# sourceMappingURL=general.css.map */