$primary: #78D2F9;
$bg: #2A2E3C;
$text: #F3F3F3;
$bg-med: #3E3F4A;
$shadow: black;

* {
    max-width: 100%;
    text-decoration: none;
    list-style: none;
    font-family: "Nunito", sans-serif;
}

body {
    margin: 0; padding: 0;
    width: 100vw; height: auto;
    box-sizing: border-box;
    display: flex; flex-direction: column; justify-content: center;
    background-color: $bg; color: $text;
    font-family: "Nunito", sans-serif;
}

h1, h2, h3, h4, h5, h6 { margin: 0;}

h1 {
    font-size: 40px;
    color: $primary;
}

button {
    
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
}
.action-btn {
    background-color: $primary;
    color: $bg;
    border: 2px solid $primary;
}
.action-btn:hover {
    background-color: $text;
    color: $bg;
    border: 2px solid $text;
}
.normal-btn {
    background-color: $bg;
    color: $text;
    border: 2px solid $primary;
}
.normal-btn:hover {
    border: 2px solid $text;
}



/* Components */
.blue { 
    width: 100%; height: 30px;
    background-color: $primary; 
}
header {
    height: 100px;
    padding: 10px 150px;
    display: flex; justify-content: space-between; align-items: center; column-gap: 20px;
    .logo { transition: transform 0.3s; filter: drop-shadow( 0 0 20px black); }
    .logo:hover { transform: scale(1.1) }
    .dir {
        display: flex;
    }
    .dir > a {
        color: $text;
        letter-spacing: 0.5px;
        text-shadow: 0px 0px 10px black;
        font-weight: 600;
        font-size: 18px;
        margin: 0px 15px;
        transition: transform 0.3s;
        p:hover {
            color: $primary;
        }
    }
    .social { display: flex; column-gap: 20px;}
    .social a { height: 35px; filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));}
    .social a:hover > img {
        filter: drop-shadow(0 0 5px $primary) brightness(105%) saturate(105%);
    }
}


.presentation {
    max-width: 80%;
    margin: 10% 10%;
    h2 {
        font-size: 50px;
        font-weight: 200;
        margin: 0px;
        text-shadow: 0px 0px 20px black;
        b { font-weight: 800;}
    }
    h3 {
        color: $primary;
        font-size: 40px;
        font-weight: 200;
        margin-top: -10px;
        b { font-weight: 800; }
        i { font-weight: 500; }
    }
    p {
        font-size: 28px;
        font-weight: 100;
    }
    div {
        display: flex; column-gap: 15px;
    }
}

.skillset {
    max-width: 80%;
    margin: auto;
    section { display: flex; flex-wrap: wrap;  }
    section div {
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        img {
            width: 50px; 
            height: 50px; 
            object-fit: contain;
            filter: drop-shadow(0 0 5px $bg);
            margin-bottom: 10px;
        }
        flex-wrap: wrap;
        white-space: no-wrap;
        display: flex; 
        padding: 10px 20px;
        margin: 5px;
        white-space: wrap;
        background-color: #9e9e9e57;
        border: 1px solid #9e9e9e;
        color: $text;
        border-radius: 8px;
        
    }
    .multiple-logos { 
        display: block;
        section { 
            display: flex; flex-direction: row;
        }
        img { 
            width: 35px;
            height: 35px;
            margin: 3px;
        }
    }
}

.projects {
    width: 80%;
    margin: 100px auto;
    .project-card {
        margin: 20px auto;
        height: 300px;
        border: 1px solid #3E3F4A;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        column-gap: 20px;
        .progect-img {
            width: 50%;
            background-color: #3E3F4A;
            border-radius: 5px 0px 0px 5px;
            overflow: hidden;
        }
        .project-description {
            margin-bottom: 10px;
            width: 50%;
            display: flex; flex-direction: column; justify-content: space-between;
            .logos {
                display: flex; justify-content: flex-end; column-gap: 10px;
                img { width: 30px; height: 30px;}
                img:hover { filter: drop-shadow(0 0 5px $primary) brightness(105%) saturate(105%);}
            }
            h2 { font-weight: 400; }
            h2:hover { opacity: 0.5; }
            p { font-size: 14px; opacity: 0.5;}
            span { 
                font-family: 'Courier New', Courier, monospace;
                font-weight: 700;
                letter-spacing: 1px;
                white-space: nowrap;
                padding: 3px;
                border: 1px solid #3E3F4A;
                border-radius: 7px;
                padding: 5px 8px;
            }
        }
    }
}

footer {
    margin-top: 50px;
    background-color: $bg-med;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    div {
        background-color: $primary;
        color: $bg;
        height: 40px;
        display: flex; flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


