$primary: #78D2F9;
$secondary: #D6B9FF;
$secondaryDark: #b092da;
$secondary25: #d6b9ff33;

$dark: #363636;
$dark75: #363636a2;
$dark50: #36363673;
$dark25: #3636363d;

$light: #ececec;
$light75: #ecececab;
$light50: #ececec7c;
$light25: #ececec3e;

$bg-med: #3E3F4A;
$shadow: rgba(0, 0, 0, 0.7);

// $dark: #2A2E3C;
// $dark75: #2a2e3cbd;
// $dark50: #2a2e3c77;
// $dark25: #2a2e3c3e;