$primary: #78D2F9;
$primary50: #78d2f993;
$primary25: #78d2f93b;

$secondary: #D6B9FF;
$secondaryDark: #b092da;
$secondary25: #d6b9ff33;

$light: #ececec;
$light75: #ecececab;
$light50: #ececec7c;
$light25: #ececec3e;

$bg-med: #3E3F4A;

$dark: rgba(0, 0, 0, 1);
$dark75: rgba(0, 0, 0, 0.75);
$dark50: rgba(0, 0, 0, 0.50);
$dark25: rgba(0, 0, 0, 0.25);

$shadow: #000000;
