@import '../Variables/PaletaColor.scss';
@import '../Variables/General.scss';
@import '../Variables/General.css';

footer {
  margin-top: 50px;
  background-color: $dark;
  color: $light;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px $shadow;
  background: linear-gradient(to top, $bg-med, transparent, $bg-med);
  
  .col-logo {
    margin: auto;
    svg { transition: 0.3s; }
    svg:hover { animation: spinlogo 10s linear infinite; }
  }
  @keyframes spinlogo {
    0% { transform: scale(1.1) rotate(0deg); }
    100% { transform: scale(1.1) rotate(360deg); }
  }
  .footer-column {
    flex: 0.2;
    min-width: 200px;
    margin: 10px;
    h3 {
      color: $light;
      margin-bottom: 3px;
      font-size: 1.3em;
    }
    hr {
      width: 90%;
      height: 4px;
      border: none;
      margin: -2px;
      margin-bottom: 4px;
      background-color: $primary;
      border-radius: 10px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 10px;
      }
      a {
        color: $light;
        text-decoration: none;
        transition: 0.3s;
        white-space: nowrap;
        font-weight: 200;
        margin-left: 10px;
        &:hover {
          color: $primary;
          font-weight: 300;
          margin-left: 15px;
        }
      }
    }
  }

  .action-btn, .normal-btn {
    text-align: center;
    min-width: 80%;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.3s;
    margin: 5px;
    display: inline-block;    
    &.action-btn {
      background-color: $primary;
      color: $dark;
      border: 1px solid $primary;
      &:hover {
        background-color: $light;
        color: $dark;
        border: 1px solid $light;
      }
    }
    &.normal-btn {
      background-color: $dark;
      color: $light;
      border: 1px solid $light;
      &:hover {
        color: $primary;
        border: 1px solid $primary;
      }
    }
  }


  .footer-bottom {
    bottom: 0;
    background-color: $primary;
    color: $dark;
    margin-top: 30px;
    text-align: center;
    width: 100%;
    p {
      margin: 5px 0;
    }
  }

  @media (max-width: 1000px) {
    .footer {
      flex-direction: column;
      .footer-column {
        min-width: 100%;
      }
    }
  }

  @media (max-width: 800px) {
    footer {
      padding: 0px !important;
      padding: 0px;
    } 
    .col-logo {
      display: flex;
      justify-content: center;
    }
    .footer-column h3 {
      font-size: 1em;
    }

    .footer-icons a {
      font-size: 24px;
      text-align: center;
    }
    .footer-bottom p {
      padding: 10px;
    }
  }
}
